body {
    margin: 0;
    padding: 0;
}
nav {
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 1rem;
}

.logo {
    width: 5rem;
}